/**
 * Card Component Styles
 *
 * Requires: tokens.css (CSS variables)
 */

.example-card {
    overflow: hidden;
    background-color: white;
    padding: var(--design-system--spacing-medium) var(--design-system--spacing-large);
    border: 2px solid var(--design-system--color-primary);
    border-radius: 4px;
    box-shadow: var(--design-system--shadow-sharp);

    &:hover {
        box-shadow: var(--design-system--shadow-crisp);
    }

    &__header {
        margin-bottom: var(--design-system--spacing-2x-small);
    }

    &__title {
        font-size: var(--design-system--font-size-x-large);
        font-weight: 700;
        color: var(--design-system--color-primary);
        line-height: 1.5;
    }

    // Content
    &__content {
        color: black;
        // font-size: var(--design-system--font-size-medium);
        // line-height: 1.5;

        // p + p {
        //     margin-top: var(--design-system--spacing-2x-small);
        // }
    }

    // Featured variant
    &--featured {
        box-shadow: var(--design-system--shadow-outlined);
        border-color: var(--design-system--color-error);
        border-width: 2px;

        .example-card__title {
            color: var(--design-system--color-secondary);
        }
    }
}
